@color: #ff6700;

@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('font/iconfont.woff') format('woff'),
        url('font/iconfont.ttf') format('truetype'),
        url('font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.375rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.site-topbar {
    background-color: #333;
    color: #b0b0b0;
    font-style: 0.75rem;
    height: 2.5rem;
}

.container {
    width: 76.625rem;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}

.topbar-nav {
    height: inherit;
    float: left;
    overflow: hidden;
    line-height: 2.5rem;
}

.topbar-info {
    height: inherit;
    float: right;
    overflow: hidden;
    line-height: 2.5rem;
}

.topbar-nav a,
.topbar-info a {
    font-size: 0.75rem;
    color: #B0B0B0;
    text-decoration: none;
    float: left;
}

.topbar-nav a:hover,
.topbar-info a:hover {
    color: #FFFFFF;
}

.topbar-nav .step {
    float: left;
    font-size: 0.75rem;
    color: #424242;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.topbar-info .step {
    float: left;
    font-size: 0.75rem;
    color: #424242;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.topbar-cart {
    height: inherit;
    width: 7.5rem;
    float: right;
    margin-left: 1rem;
}

.topbar-cart a {
    height: inherit;
    width: inherit;
    font-size: 0.75rem;
    background-color: #424242;
    display: block;
    text-decoration: none;
    line-height: 2.5rem;
    color: #B0B0B0;
    text-align: center;
    position: relative;
    z-index: 100;
}   
.topbar-cart .cart{
    font-size: 1.25rem;
    margin-right: 0.25rem;
}
.topbar-cart .cart-menu{
    width: 19.75rem;
    height: 6.125rem;
    display: none;
    float: right;
    color: #424242;
    text-align: center;
    line-height: 6.125rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15) ;
}
.site-header{
    height: 6.25rem;
    .header-logo{
        float: left;
        width: 3.4375rem;
        height: 3.4375rem;
        margin-top: 1.375rem;
        margin-right: 0.4375rem;
        .logo{
            display: block;
            width: inherit;
            height: inherit;
            background-color: @color;
            background-image: url(img/mi-logo.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
    .header-nav{
        float: left;
        height: inherit;
        .nav-list{
            width: 51.25rem;
            padding-left: 1.875rem;
            list-style-type: none;
            float: left;
            color: #333;
            font-size: 1rem;
            padding-top: 0.75rem;
            height: 5.5rem; 
            margin-top: 0;
            margin-bottom: 0;  
            li{
                float: left;
                height: inherit;
                line-height: 4.75rem;
                a{
                    text-decoration: none;
                    color: #333;
                    padding-left: 0.625rem;
                    padding-right: 0.625rem;
                }
            }
            .nav-category{
                width: 7.9375rem;
                padding-right: 0.9375rem;
            }
        }
    }
    .header-search{
        float: right;
    }
}

